.foto{
   height: 150px; /* ose 200px sipas deshires */
  object-fit: cover;
}
.gallery {
  transition: all 0.5s ease;
  cursor: pointer;
}

.gallery:hover {
  transform: scale(1.2);   
 
}
.bestsellers1{
  text-decoration: none;
}